$background_color: #c6ebbe;
$light_background: #dfe7dd;
$dark_background: #99e787;
$muted_text: #797596;
$call_to_action: #a846a0;
$dark: #29524a;
$normal_text: black;

$font_weights: (
  "thin": 100,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font_sizes: (
  "header": 50px,
  "sub-header": 30px,
  "normal_text": 14px,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  background-color: $light_background;
}
h1 {
  color: $call_to_action;
  font-size: map-get($map: $font_sizes, $key: header);
}
.sidebar {
  background-color: $background_color;
  margin: 0;
  height: 100vh;
 
}
.mini-section {
  background-color: $dark_background;
  height: 100vh;
  color: $dark;

}
.icon {
  font-size: 1.5em;
}
.large-section {
  color: $dark;
}
.nav-items {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: $dark;
  vertical-align: middle;
}

.nav-items:hover {
  color:$dark;
}
.nav-items:active {
  font-weight: map-get($map: $font_weights, $key:bold );
}
.text {
  font-size: map-get($map: $font_sizes, $key: normal_text);
}
.search-input{
  border: 0;
  border-bottom: 1px solid ;
  outline: 0;
  background: transparent;
}
.summary-text{
  color: $call_to_action;
}
.linked{
  color: $muted_text;
}
.main p{
  font-size: map-get($map: $font_sizes, $key:normal_text );
}
.date{
  
  background: transparent;
  border: 1px solid ;
}
.graph{
  width: 90%;
}
.dough-graph{
  width:50%
}
.main-page{
  margin-left: 16.67%;
}