$background_color: #E3D8F1;
$light_background:#F0EEF1;
$dark_background:#CAB4E7;
$muted_text: #797596;
$call_to_action: #a846a0;
$dark: #2B3A67;
$normal_text: black;
$light: #d6a3d2;
$info: rgb(133, 133, 200);
$success: rgb(123, 200, 146);


$font_weights: (
  "thin": 100,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font_sizes: (
  "header": 70px,
  "sub-header": 30px,
  "small":24px,
  "normal_text": 14px,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  background-color: $light_background;
}
h1 {
  color: $call_to_action;
  font-size: map-get($map: $font_sizes, $key: header);
}
.sidebar {
  background-color: $background_color;
  margin: 0;
  height: 100vh;
 
}
.mini-section {
  background-color: $dark_background;
  height: 100vh;
  color: $dark;

}
.icon {
  font-size: 1.5em;
}
.large-section {
  color: $dark;
}
.nav-items {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: $dark;
  vertical-align: middle;
}

.nav-items:hover {
  color:$dark;
}
.nav-items:active {
  font-weight: map-get($map: $font_weights, $key:bold );
}
.text {
  font-size: map-get($map: $font_sizes, $key: normal_text);
}
.search-input{
  border: 0;
  border-bottom: 1px solid ;
  outline: 0;
  background: transparent;
}
.summary-text{
  color: $call_to_action;
}
.linked{
  color: $muted_text;
}
.main p{
  font-size: map-get($map: $font_sizes, $key:normal_text );
}

.graph{
  width: 90%;
}
.dough-graph{
  width:70%
}
.main-page{
  margin-left: 16.67%;
}

.heading{
  font-size: map-get($font_sizes , header );
  font-weight: map-get($font_weights , bold );
}
.mini-caption{
  font-size: map-get($font_sizes, small);
  font-weight: map-get($font_weights, medium );
  color: $muted_text;
}
.in-card{
  box-shadow: 5px 5px $muted_text;
}